*{
    margin: 0;
    padding: 0;
}

#header{
    width: auto;
    height: 130px;
    background-color: #056839;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#header .logo-header{
    width: auto;
    height: 80px;
    text-align: center;

}

#header .nav-items{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    
}

#header .nav-items li{
    display:inline-block;
    padding: 0 50px;
    border-right: 2px solid black;
}

#header .nav-items li:first-child{
    border-left: 2px solid black;
}

#header .nav-items li a{
    font-size: 25px;
    font-weight: 700;
    text-decoration:none;
    color:yellow;
}


form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}