
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/booking.css">
    <title>Booking</title>
</head>
<body>
    <div id="header">
        <p class="logo-header"><img src="/image/logo.png" alt=""></p>
        <ul class="nav-items">
            <li><a href="http://localhost:3000/home">Trang Chủ</a></li>
            <li><a href="http://localhost:3000/menu">Menu</a></li>
            <li style="background-color: brown;"><a href="http://localhost:3000/booking">Booking</a></li>
            <li><a href="http://localhost:3000/monitor">Theo dõi lịch đặt</a></li>
            <li><a href="http://localhost:3000/login">Quản Lý</a></li>
        </ul>
    </div>
     
    <div class="item text-center">
        <img src="/image/imagebooking.PNG" alt="">
      </div >

<div class="addOrder">
    <div class="Title">
        <h2>THÔNG TIN ĐƠN ĐẶT BÀN</h2>
    </div>
    <form class="addOrder" action="/addOrder" method="post">
        <div class="grid__item w-85">
            <input type="text" id="ContactFormName" class="input-full" name="HoTen" placeholder="Họ tên của bạn *" autocapitalize="words" required>
        </div>
    
        <div class="grid__item w-40">
            <input type="email" id="ContactFormEmail" class="input-full" name="Email" placeholder="Địa chỉ email của bạn" autocorrect="off" autocapitalize="off" required>
        </div>
    
        <div class="grid__item w-40 ">
            <input type="tel" id="ContactFormPhone" class="input-full" name="SoDienThoai" placeholder="Số điện thoại của bạn *" pattern="[0-9\-]*" required>
        </div>
    
        <div class="grid__item w-40">
            <input type="text" id="ContactFormQuantity" class="input-full" name="SoLuong" placeholder="Số lượng khách *" required >
        </div>
    
        <div class="grid__item w-40 ">
            <select id="ContactFormCoso" name="ChonViTri" required>
                <option value="Chưa Chọn Vị Trí">Chọn vị trí *</option>
                <option  value="Bàn 1">Bàn 1</option>
                <option  value="Bàn 2">Bàn 2</option>
                <option  value="Bàn 3">Bàn 3</option>
                <option  value="Bàn 4">Bàn 4</option>
                <option  value="Bàn 5">Bàn 5</option>
                <option  value="Bàn 6">Bàn 6</option>
                <option  value="Bàn 7">Bàn 7</option>
                <option  value="Bàn 8">Bàn 8</option>
                <option  value="Bàn 9">Bàn 9</option>
                <option  value="Bàn 10">Bàn 10</option>
                <option  value="Bàn 11">Bàn 11</option>
                <option  value="Bàn 12">Bàn 12</option>
                <option  value="Bàn 13">Bàn 13</option>
                <option  value="Bàn 14">Bàn 14</option>
                <option  value="Bàn 15">Bàn 15</option>
                <option  value="Bàn 16">Bàn 16</option>
                <option  value="Bàn 17">Bàn 17</option>
                <option  value="Bàn 18">Bàn 18</option>
                <option  value="Bàn 19">Bàn 19</option>
                <option  value="Bàn 20">Bàn 10</option>
                <option  value="Bàn 21">Bàn 21</option>
                <option  value="Bàn 22">Bàn 22</option>
                <option  value="Bàn 23">Bàn 23</option>
            </select>
        </div>
    
        <div class="grid__item w-40">
            <input type="date" id="ContactFormDate" class="input-full" name="Ngay" placeholder="Chọn ngày *" autocapitalize="off" autocorrect="off" required>
        </div>
        <div class="grid__item w-40 ">
            <select id="ContactFormTime" name="Gio" required>
                <option value="Chưa Chọn Giờ">Chọn giờ *</option>
                <option name="time" value="08h00">08h00</option>
                <option name="time" value="08h30">08h30</option>
                <option name="time" value="09h00">09h00</option>
                <option name="time" value="09h30">09h30</option>
                <option name="time" value="10h00">10h00</option>          
                <option name="time" value="10h30">10h30</option>            
                <option name="time" value="11h00">11h00</option>            
                <option name="time" value="11h30">11h30</option>          
                <option name="time" value="12h00">12h00</option>          
                <option name="time" value="12h30">12h30</option>          
                <option name="time" value="13h00">13h00</option>          
                <option name="time" value="13h30">13h30</option>          
                <option name="time" value="17h30">17h30</option>        
                <option name="time" value="18h00">18h00</option>          
                <option name="time" value="18h30">18h30</option>          
                <option name="time" value="19h00">19h00</option>            
                <option name="time" value="19h30">19h30</option>          
                <option name="time" value="20h00">20h00</option>                      
                <option name="time" value="20h30">20h30</option>            
                <option name="time" value="21h00">21h00</option>
            </select>
        </div>

        <div class="grid__item ">
            <textarea rows="10" id="ContactFormMessage" class="input-full" name="NoiDung" required placeholder="Món ăn-Số lượng(Nếu không đặt món trước quý khách hãy nhập không) *"></textarea>
        </div>
    
        <div class="grid__item large--one-half medium--one-whole small--one-whole" style="margin-left: 100px; ">
            <button type="submit">Đặt bàn</button>
        </div>
    </form>
</div>


<h2>
    SƠ ĐỒ NHÀ HÀNG ẾCH XANH
</h2>

<div class="item text-center">
    <img src="/image/Sodo.jpg.png" alt="">
  </div >

 
<hr class="Underline">
 
    <div id="contact">
        <p class="contact-text">CONTACT</p> 
    <div class="icon-contact">
    
    <div class="icon-telephone">
        <a href=""><img class="icon" src="/image/icon-phone.jpg" alt=""></a>
        <h2>HOTLINE</h2>
        <h2>0902 988 232</h2>
    </div>
    
    <div class="icon-address">
        <a href=""><img class="icon" src="/image/icon-address.jpg" alt=""></a>
        <h2>ADDRESS</h2>
        <h2>232 Phan Đình Phùng</h2>
    </div>
    
    <div class="icon-facebook">
        <a href="https://www.google.com/"><img class="icon" src="/image/icon-fb.png"></a>
        <h2>FACEBOOK</h2>
        <h2>Ếch Xanh Quãng Ngãi</h2>
    </div>
</body>
</html>