<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/infoAdmin.css">
    <title>Document</title>
</head>
<body>
    <header>
		<div id="header">
			<p class="logo-header"><img src="/image/logo.png" alt=""></p>

			<ul class="nav-items">
                <li style="background-color: brown;"><a href="http://localhost:3000/infoAdmin">Quản Lý</a></li>
                <li><a href="http://localhost:3000/listOrder">Danh Sách Đặt Bàn</a></li>
				<li><a href="http://localhost:3000/handerOrder">Xử Lý Đơn Đặt Bàn</a></li>
				<li><a href="http://localhost:3000/handleMenu">Chỉnh Sửa Món Ăn</a></li>
				<li><a href="http://localhost:3000/home">Trang Chủ</a></li>
			</ul>
		</div>
	</header>
	<div>
		<img width="100%" height="100%" src="/image/gallery 1.jpg" alt="">
	</div>

	<hr class="Underline"> 

    <div id="contact">
        <p class="contact-text">CONTACT</p>
        <div class="icon-contact">
        
            <div class="icon-telephone">
                <a href=""><img class="icon" src="/image/icon-phone.jpg" alt=""></a>
                <h2>HOTLINE</h2>
                <h2>0902 988 232</h2>
            </div>

            <div class="icon-address">
                <a href=""><img class="icon" src="/image/icon-address.jpg" alt=""></a>
                <h2>ADDRESS</h2>
                <h2>232 Phan Đình Phùng</h2>
            </div>

            <div class="icon-facebook">
                <a href="https://www.google.com/"><img class="icon" src="/image/icon-fb.png"></a>
                <h2>FACEBOOK</h2>
                <h2>Ếch Xanh Quãng Ngãi</h2>
            </div>
        </div>
    </div>
</body>
</html>