<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <p class="logo-header"><img src="/image/logo.png" alt=""></p>
        <ul class="nav-items">
            <li><a href="http://localhost:3000/home">Trang Chủ</a></li>
            <li><a href="http://localhost:3000/menu">Menu</a></li>
            <li><a href="http://localhost:3000/booking">Booking</a></li>
            <li><a href="http://localhost:3000/monitor">Theo dõi lịch đặt</a></li>
            <li style="background-color: brown;"><a href="http://localhost:3000/homeAdmin">Quản Lý</a></li>
        </ul>
    </div>

    <div style="text-align: center; margin: 20px 0;">
        <h1 style="margin: 5px 0;">Quản Lý</h1>
        <p>Đăng Nhập Với Tư Cách Admin </p>
    </div>

    <form action="/hanldeLogin" method="post">
    <div class="container">
        <label for="user"><b>Username</b></label>
        <input  type="text" placeholder="Enter Username" name="user" required>

        <label for="psw"><b>Password</b></label>
        <input  type="password" placeholder="Enter Password" name="psw" required>
            
        <button type="submit">Đăng Nhập</button>
    </div>
    </form>
</body>
</html>
